html {
    background-image: url("../src/assets/images/backgroundForecast.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    font-size: xx-large;
}